.gestor-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.gestor span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gestor {
    width: 150px;
    padding: auto;
    background-color: rgb(233, 98, 98);
}

.subordinados {
    margin: 20px;
    background-color: aqua;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.analistas-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.analistas {
    text-align: center;
    margin: 20px;
    width: 250px;
    background-color: rgb(168, 144, 255);
    justify-content: center;
}